# FastAPI Backend
fastapi
uvicorn

# Environment Variables
python-dotenv

# Request Validation
pydantic

# Resume Parsing
langchain_community
pymupdf

# Groq API
groq

# File Uploads
python-multipart

# Streamlit Frontend
streamlit

# HTTP Requests (Frontend -> Backend)
requests

# Audio Recording (for Streamlit)
streamlit-mic-recorder

# for continuing session in Streamlit
streamlit-cookies-manager

# for text to speech
gtts